$black-2-opacity: rgba(0, 0, 0, 0.2);

.container {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 1280px;
  margin: auto;

  .container-image {

    .main-image {
      img {
        width: 500px;
        height: 600px;
      }
    }

    .additional-image {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 20px;

      img {
        opacity: 0.15;
        width: 160px;
        height: 190px;
      }

      .active-image {
        opacity: 100;
      }
    }
  }

  .container-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 20px;
    width: 100%;

    .info-header {
      text-align: start;
      width: 100%;
      border-bottom: 2px solid $black-2-opacity;

      h2 {
        margin: 0;
      }
    }

    .info-main {
      margin-top: 20px;

      .info-main-price {
        display: flex;
        flex-direction: row;

        p {
          font-size: larger;
          font-weight: bold;
        }

        .old-price {
          margin-left: 10px;
          color: $black-2-opacity;
        }
      }

      .info-main-description {
        h3 {
          margin: 0;
          text-align: start;
          font-weight: 500;
        }
        p {
          text-align: start;
          font-size: 14px;
        }
      }

      .info-main-order {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-content: center;
        margin: 30px 0;

        .order-increment {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-content: center;

          button {
            width: 38px;
            height: 38px;
          }

          span {
            align-self: center;
            margin: 0 15px;
            font-size: 22px;
            font-weight: bold;
          }
        }

        .order-add-to-cart {
          margin-left: 30px;
          align-self: center;
        }
      }

      .info-main-categories {
        text-align: start;
      }
    }
  }
}
