<mat-card *ngIf="product">

  <mat-card-header>
    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-card-subtitle>{{ product.price | currency }}</mat-card-subtitle>
  </mat-card-header>

  <div class="image-container">

    <img mat-card-image src="{{ product.pictureUrl }}" alt="{{ product.name }}">

    <mat-card-actions class="card-button hover-overlay">
      <button (click)="addItemToBasket()" mat-raised-button color="primary"><mat-icon>shopping_cart</mat-icon></button>
      <button routerLink="/shop/{{product.id}}" mat-raised-button color="primary">Details</button>
    </mat-card-actions>
  </div>


  <mat-card-content>
    <p>
      {{ product.description.length > 50 ? product.description.slice(0, 50) + '...' : product.description}}
    </p>
  </mat-card-content>

</mat-card>
